.list-color__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.4em;
}

.list-color__item:hover {
    background: #aeaeb2;
    cursor: pointer;
}

.list-color__item > div {
    margin: 0 15px;
}

.item-list__square {
    border: none;
    outline: none;
    width: 21px;
    padding: 0;
}