.ColorSliders {
    width: 20%;
    height: 100%;
    border-left: 1px solid #d1d3d4;
    box-sizing: border-box;
    cursor: pointer;
    background: #fff;
    position: relative;
}

.color-block {
    width: 20px;
    height: 20px;
}

.ColorSliders__dropdown {
    display: flex;
    position: absolute;
    width: 400%;
    height: 130px;
    min-height: 100px;
    background: #fff;
    top: 75px;
    right: -57px;
    cursor: default;
    flex-direction: column;
    z-index: 100;
    -webkit-box-shadow: 1px 29px 59px -12px rgba(0,0,0,0.36);
    -moz-box-shadow: 1px 29px 59px -12px rgba(0,0,0,0.36);
    box-shadow: 1px 29px 59px -12px rgba(0,0,0,0.36);
    user-select: none;
}

.ColorSliders__dropdown:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    right: 77px;
    position: absolute;
    transform: rotate(45deg);
    top: -9px;
    z-index: 105;
    border-top: 1px solid #d1d3d4;
    border-left: 1px solid #d1d3d4;
}

.wrap-color-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}