.range_group__range {
    -webkit-appearance: none;
    width: 80%;
    height: 2px;
    background: #d3d3d3;
    margin-left: 10px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: rotate(180deg);
}

.range_group__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 2px solid #fff;
    background: #aeaeb2 ;
    cursor: pointer;
}

.range_group__range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 2px solid #fff;
    background: #aeaeb2;
    cursor: pointer;
}

.range_group__name {
    line-height: 2.2em;
    font-size: 20px;
    color: #918a8a;
}

.dropdown__range_group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.range_group__range_red {
    background: linear-gradient(to left, red, black);
}

.range_group__range_green {
    background: linear-gradient(to left, green, black);
}

.range_group__range_blue {
    background: linear-gradient(to left, blue, black);
}