.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-picker {
    display: inline-flex;
    height: 50px;
    position: relative;
    border: 1px solid #dedede;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.square-choise {
  height: 100%;
  cursor: pointer;
}

.input-color {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0;
}

.square-block-color {
  position: relative;
  width: 50px;
}

.input-hex {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.arrow {
  border: 25px solid transparent;
  border-top: 25px solid green;
  width: 1px;
  height: 1px;
  margin: 0;
}

.dropdown {
    position: absolute;
    width: 70%;
    right: 0;
    height: 250%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #eeeeee;
    padding: 10px 0;
    top: 0;
    margin-top: var(--margin-top-dropdown);
}

.wrapper__dropdown-tooltip {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
}

.tooltip {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #eeeeee;
    transform: rotate(45deg);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: var(--margin-top-tooltip);

}